[MASTER]
extension-pkg-allow-list=pygame

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    invalid-name,
    too-many-instance-attributes,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-arguments,
    too-many-boolean-expressions,
    too-many-nested-blocks,
    broad-exception-caught,
    bare-except,
    redefined-outer-name,
    unused-argument,
    unused-variable,
    unused-import,
    unused-wildcard-import,
    wildcard-import,
    wrong-import-order,
    unspecified-encoding,
    multiple-statements,
    superfluous-parens,
    no-else-return,
    no-else-continue,
    line-too-long,
    consider-using-sys-exit,
    consider-using-in,
    consider-using-max-builtin,
    no-member,
    trailing-whitespace,
    global-variable-not-assigned,
    global-statement,
    missing-final-newline,
    too-few-public-methods,
    too-many-positional-arguments,
    too-many-lines,
    too-many-return-statements
